# Using the Pandas Package for Data Analysis, pt.1

This notebook will walk us through a quick tutorial in using the pandas package for data anlysis with python.

### Overview of Tutorial

Over the next 2 class sessions, we will use this tutorial to cover the following processes:

*Day 1*
1. importing the pandas package 
2. creating a dataframe
3. exploring our dataframe's attributes

*Day 2*
4. using functions to filter our data
5. using functions to merge and join our data
6. creating a subset and exporting as a new .csv file

### Acknowledgements

This Pandas tutorial has been adapted from materials provided by the excellent staff at the Davis Library Research Hub.

For more detailed examples and exericses, see thier [Python: Intro to Data lessons](https://unc-libraries-data.github.io/Python/Intro/Introduction_CrashCourse.html)

### Importing Pandas

#### Packages
Packages provide additional tools and functions not present in base Python. Python includes a number of packages to start with, the Anaconda distribution which we've all downloaded for Unit 3 comes with the "Pandas" package already installed.

Once you've installed a package, you can load it into your current Python session with the import function. Otherwise these functions will not be available.


#### Pandas

Like spreadsheets in Microsoft Excel, Pandas allows us to store our data in tabular, multi-dimensional objects (dataframes) with familiar features like rows, columns, and headers. This is useful because it makes management, manipulation, and cleaning of large datasets much easier than would be the case using Python's built-in data structures such as lists. Pandas also provides a wide range of useful tools for working with data once it has been stored and structured.

Begin by importing the pandas package using the following command:

In [1]:
import numpy as np
import pandas as pd

Notice that we load pandas with the usual `import pandas` and an extra `as pd` statement. This allows us to call functions from `pandas` with `pd.<function>` instead of `pandas.<function>` for convenience. `as pd` is **not** necessary to load the package.

Note, we also imported the `numpy` package, which is going to help pandas do some of its math.

### Creating a DataFrame

#### Working Directories & Relative Paths

By now, you should have either downloaded the csv file "CountyHealthData_2014-2015.csv" from canvas, or saved your own data as a csv file. I've stored my copy in the same folder as this Jupyter Notebook. **NOTE:** make sure that your csv file is saved in the same working directory as your .ipynb notebook file that you will use. 

Remember that Jupyter Notebooks automatically set your working directory to the folder where the .ipynb is saved. You'll have to save the document at least once to set your directory, but once there you can use what's called relative file paths to access the files there.

If a file is located in your working directory, its relative path is just the name of the file!

#### Using the `pd.read_csv()` function

`pd.read_csv` reads the tabular data from a Comma Separated Values (csv) file into a dataframe object that we'll define as `df`.

To create our dataframe object we'll define our object `df` by executing the `pd.read_csv()`function on our data file by inserting the relative file path into the parathenses.

In [3]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

### Exploring Our Dataframes

#### Attributes

A good first step in exploring our dataframe is to examine some of its basic attributes. Attributes contain **values** that provide  helpful information about the dataframe, that guide our interaction with the dataframe. In pandas, we access attributes with the following syntax:

`<DataFrame name>.<attribute name>`

We can use the `.shape` attribute to determine how many rows and columns (in that order) are available. The `.size` attribute gives us the number of cells in the dataframe (rows * columns).

In [4]:
df.shape

(6109, 64)

In [5]:
df.size

390976

In [6]:
df.size == 6109 * 64

True

Other useful attributes include:

- `.columns` provides the column names for the Dataframe
- `.dtypes` provides the pandas datatype for each column

In [7]:
df.columns

Index(['State', 'Region', 'Division', 'County', 'FIPS', 'GEOID', 'SMS Region',
       'Year', 'Premature death', 'Poor or fair health',
       'Poor physical health days', 'Poor mental health days',
       'Low birthweight', 'Adult smoking', 'Adult obesity',
       'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetic screening', 'Mammography screening', 'High school graduation',
       'Some college', 'Unemployment', 'Children in poverty',
       'Income inequality', 'Children in single-parent households',
       'Social associations', 'Violent crime', 'Injury deaths',
       'Air pollution - particulate matter', 'Drinking water violations',
       'Severe housing problems', 'Driving alone to work',
       'Long commute - driving alone', '2011 population estimate',
       'Population that is not proficient in English',
       'Population living in a rural area', 'Diabetes', 'HIV prevalence rate',
       'Premature age-adjusted mortality', 'Infant mortality',
       'Child mortality', 'Food insecurity', 'Limited access to healthy foods',
       'Motor vehicle crash deaths', 'Drug poisoning deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Could not see doctor due to cost', 'Other primary care providers',
       'Median household income', 'Children eligible for free lunch',
       'Homicide rate', 'Inadequate social support'],
      dtype='object')

In [8]:
df.dtypes

State                                object
Region                               object
Division                             object
County                               object
FIPS                                  int64
                                     ...
Other primary care providers        float64
Median household income               int64
Children eligible for free lunch    float64
Homicide rate                       float64
Inadequate social support           float64
Length: 64, dtype: object

We'll also use attributes (`.loc` and `.iloc`) to interact with our dataframes on Friday.

#### Methods

Much of the functionality for working with dataframes comes in the form of methods. Methods are specialized functions that only work for a certain type of object, with the syntax:

`<object name>.<method>()`

We can look at the first 5 or last 5 rows in the dataset directly with the `.head()` and `.tail()` methods.

In [9]:
df.head()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477

In [10]:
df.tail()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

Sometimes, our top and bottom rows aren't very representative, and we'd prefer to look at a random sample of rows to get a better sense of the data. We can do this with `.sample()` **Note** that we can supply the parameter `n` to specify how many rows we want to sample.

In [14]:
df.sample(n=5)

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
5801,WA,West,Pacific,Walla Walla County,53071,53071,Region 22,1/1/2014,6148.0,0.154,...,10.23,0.227,0.077,7262.0,0.143,64.0,45225,0.386,NaN,0.173
4047,OH,Midwest,East North Central,Hocking County,39073,39073,Region 27,1/1/2015,8189.0,0.186,...,21.91,0.178,0.065,10906.0,0.131,31.0,42376,0.532,NaN,NaN
8,AK,West,Pacific,Fairbanks North Star Borough,2090,2090,Region 22,1/1/2014,5740.0,0.110,...,12.29,0.251,0.115,6855.0,0.129,133.0,63979,0.161,4.92,0.168
3302,NC,South,South Atlantic,Davie County,37059,37059,Region 20,1/1/2015,6530.0,0.148,...,14.70,0.218,0.085,9955.0,0.144,46.0,49708,0.371,4.30,NaN
889,GA,South,South Atlantic,Hancock County,13141,13141,Region 24,1/1/2015,9600.0,NaN,...,NaN,0.243,0.070,8402.0,NaN,NaN,26281,0.699,NaN,NaN

#### Series

We can think of our dataframe as a collection rows and columns where each row represents an "observation"—sometimes referred to as a 'record'—and each column contains a specific type of information collected about each observation. 

In Pandas, our columns are stored as what's called 'Series' objects, and our dataframes can be thought of as named collections of series.

We can extract a single column in a couple of ways:

- bracket notation: `df["Region"]` This is the most robust way to refer to Series

- dot notation: `df.Region` This is simpler and easier to read but not always available


In some cases, dot notation does not work! The most common situations are:

- The column name has a space, or other irregularities 
- The column name is the same as an existing attribute or method (e.g., a column named "shape")

For example, in our Public Health dataFrame, `df.Uninsured adults` doesn't work, because "Uninsured adults" is not understood as a single value, so instead we'd use `df["Uninsured adults"]`

Series have their own set of attributes and methods just like dataframes. Some attributes like `.dtypes` and `.shape` are available for both.

In [15]:
print(df.Region.shape)
print(df.Region.dtypes)

(6109,)
object

In [16]:
df.Region.shape

(6109,)

In [18]:
print(df.Region.dtypes)

object

One of the most useful methods for categorical variables is `.value_counts()` which provides a frequency table.

In [19]:
df.Region.value_counts()

South        2803
Midwest      2038
West          834
Northeast     434
Name: Region, dtype: int64

This can also be used on top of other attributes or methods that return series. For example, the code below shows how frequently each data type appears in our dataframe.

In [20]:
df.dtypes.value_counts()

float64    54
object      6
int64       4
dtype: int64

So for example, we might call up a value count of the series "State" to get a more granular sense of our dataframe's geographical dispersal.

In [21]:
df.State.value_counts()

TX    469
GA    318
VA    266
KY    240
MO    229
IL    204
NC    200
KS    199
IA    198
TN    190
IN    184
OH    176
MN    174
MI    164
MS    163
NE    157
OK    154
AR    150
WI    144
PA    134
FL    134
AL    134
LA    128
NY    124
CO    119
SD    117
CA    114
WV    110
MT     92
SC     92
ND     92
ID     84
WA     78
OR     67
NM     64
UT     54
MD     48
AK     46
WY     46
NJ     42
NV     32
ME     32
AZ     30
VT     28
MA     28
NH     20
CT     16
RI     10
HI      8
DE      6
DC      1
Name: State, dtype: int64

#### Now open the `.ipyn` files you created last time: 
1. import pandas and numpy
2. create a dataframe using `pd.read_csv`
3. start explorng your own data!